<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/common.css">
</head>

<body>
    <div class="main-content">
        {{>header }}
        <p>This site is created by Kiran Kumar. It uses mapbox.com and darksy.net to get the weather forecast data</p>
    </div>
    {{>footer}}
</body>

</html>