<!DOCTYPE html>

<html>

<head>
    <title>Error</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/common.css">
    <style>
        h3{
            color:red;
        }
    </style>
</head>

<body>
    <h3>{{errorMessage}}</h3>
</body>

</html>