<!DOCTYPE html>

<html>

<head>
    <title>Welcome</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/common.css">
</head>

<body>
    <div class="main-content">
        {{>header }}
        <p>Use this site to get the weather information</p>
        <form>
            <input name="location" placeholder="Location">
            <button>Search</button>
        </form>
        <pre id="result">

        </pre>
    </div>
    {{>footer}}
</body>

<script src="/js/app.js"></script>
</html>